<table>

{%- if address -%}
<tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 width=170 style='height:14.5pt;width:128pt'>🔗 URL</td>
  <td class=xl6512303 width=134 style='width:101pt'>{{ address }}</td>
 </tr>
{%- endif -%}

{%- if apps -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📱 Available Where?</td>
  <td class=xl1512303>{{ apps }}</td>
 </tr>
{%- endif -%}

{%- if serverLocation -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🖧 Server Location</td>
  <td class=xl1512303>{{ serverLocation }}</td>
 </tr>
{%- endif -%}

{%- if hq  -%}
<tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📍 Headquarters</td>
  <td class=xl1512303>{{ hq }}</td>
 </tr>
{%- endif -%}

{%- if pluginSupport == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🔌 Plugin Support</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if pluginSupport == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🔌 Plugin Support</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if openSource == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📖 Open Source</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if openSource == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📖 Open Source</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if cloudAccess == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>☁️ Cloud Access</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if cloudAccess == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>☁️ Cloud Access</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

</table>
