{%- if openSource == true -%}
<strong>📖 Open Source?</strong> ✅
{%- endif -%}

{%- if openSource == false -%}
<strong>📖 Open Source?</strong> ❌ 
{%- endif -%}

{%- if openSource -%}
<strong>📖 Open Source 2?</strong> {{openSource}}
{%- endif -%}
