{%- if URL -%}
  <h2> Quick Stats </h2>
{%- endif -%}

<table style="width: 100%;">

{%- if author -%}
<tr height=19 style='height:14.5pt'>
  <td height=19 class=x1512303 width=170 style='height:14.5pt;width:128pt'>👩‍💻 Author</td>
  <td class=x16512303 width=134 style='width:101pt'><a href="{{authorURL}}" target="_blank">{{author}}</a></td>
</tr>
{%- endif -%}

{%- if editor -%}
<tr height=19 style='height:14.5pt'>
  <td height=19 class=x1512303 width=170 style='height:14.5pt;width:128pt'>🧑‍💻 Updated By</td>
  <td class=x16512303 width=134 style='width:101pt'><a href="{{editorURL}}" target="_blank">{{editor}}</a></td>
</tr>
{%- endif -%}

{%- if URL -%}
<tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 width=170 style='height:14.5pt;width:128pt'>🔗 URL</td>
  <td class=xl6512303 width=134 style='width:101pt'><a href="{{ URL }}" target="_blank">{{ title }}</a></td>
 </tr>
{%- endif -%}

{%- if apps -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📱 Available Where?</td>
  <td class=xl1512303>{{ apps }}</td>
 </tr>
{%- endif -%}

{%- if serverLocation -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🖧 Server Location</td>
  <td class=xl1512303>{{ serverLocation }}</td>
 </tr>
{%- endif -%}

{%- if hq  -%}
<tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📍 Headquarters</td>
  <td class=xl1512303>{{ hq }}</td>
 </tr>
{%- endif -%}

{%- if pluginSupport == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🔌 Plugin Support</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if pluginSupport == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🔌 Plugin Support</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if extSupport == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🧩 Extension Support</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if extSupport == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🧩 Extension Support</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if hasAnAPI == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>↔️ API Available for Integrations</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if hasAnAPI == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>↔️ API Available for Integrations</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if totpStorage == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🧩 TOTP Storage</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if totpStorage == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🧩 TOTP Storage</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if openSource == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📖 Open Source</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if openSource == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📖 Open Source</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if storageAmount -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📦 Storage Amount</td>
  <td class=xl1512303>{{ storageAmount }} GB</td>
 </tr>
{%- endif -%}

{%- if addlStorage == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📥 Add Additional Storage?</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if addlStorage == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📥 Add Additional Storage?</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if cloudAccess == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>☁️ Cloud Access</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if cloudAccess == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>☁️ Cloud Access</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if multiDeviceSync == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🌐 Multi-Device Sync</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if multiDeviceSync == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🌐 Multi-Device Sync</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if syncPrice -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>💰 Sync Price</td>
  <td class=xl1512303>${{ syncPrice }} </td>
 </tr>
{%- endif -%}

{%- if webPublishing == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🌐 Web Publishing</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if webPublishing == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🌐 Web Publshing</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if webPublishPrice -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>💰 Web Publish Price</td>
  <td class=xl1512303>${{ webPublishPrice }} </td>
 </tr>
{%- endif -%}

{%- if collaboration == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🧑‍🤝‍🧑 Collaboration</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if collaboration == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🧑‍🤝‍🧑 Collaboration</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if nlp == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🗣️ Natural Language Processing</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if nlp == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🗣️ Natural Language Processing</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if dueDates == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📅 Do &amp; "Due" Dates</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if dueDates == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>📅 Do &amp; "Due" Dates</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if fullDataExport == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🛈 Full Data Export</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if fullDataExport == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🛈 Full Data Export</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if attachmentSupport == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🖇️ Attachment Support</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if attachmentSupport == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🖇️ Attachment Support</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if selfHosting == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🖥️ Self-Hosting Option</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if selfHosting == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🖥️ Self-Hosting Option</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if 2FAoptions == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🔒 2FA Available</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if 2FAoptions == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🔒 2FA Available</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if highlightsWhere -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>☀️ Highlights Available Where?</td>
  <td class=xl1512303>{{ highlightsWhere }}</td>
 </tr>
{%- endif -%}

{%- if canItSave -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>💾 What can it save?</td>
  <td class=xl1512303>{{ canItSave }}</td>
 </tr>
{%- endif -%}

{%- if browserExtensions == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🧩 Browser Extensions</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if browserExtensions == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🧩 Browser Extensions</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if pwSharing == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🔑 Password Sharing</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if pwSharing == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🔑 Password Sharing</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if noFamily -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>👨‍👩‍👧‍👧 # of Family Accounts</td>
  <td class=xl1512303>{{ noFamily }} </td>
 </tr>
{%- endif -%}

{%- if addFamily == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>👨‍👩‍👧‍👧 Can you add more?</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if addFamily == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>👨‍👩‍👧‍👧 Can you add more?</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if noBusiness -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>👷‍♀️ # of Team Members</td>
  <td class=xl1512303>{{ noBusiness }} </td>
 </tr>
{%- endif -%}

{%- if addFamily == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>👷‍♀️ Can you add more?</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if addFamily == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>👷‍♀️ Can you add more?</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if priceURL -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>💵 URL to Pricing Page</td>
  <td class=xl1512303><a href="{{ priceURL }}" target="_blank">View Pricing Here</a></td>
 </tr>
{%- endif -%}

{%- if freeOption == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🆓 Free Option</td>
  <td class=xl1512303>✅</td>
 </tr>
{%- endif -%}

{%- if freeOption == false -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🆓 Free Option</td>
  <td class=xl1512303>❌</td>
 </tr>
{%- endif -%}

{%- if otpOption == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>1️⃣ One-Time Purchase Option</td>
  <td class=xl1512303>Yes & ${{otpPrice}}</td>
 </tr>
{%- endif -%}

{%- if monthPrice -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🪙 Price Monthly</td>
  <td class=xl1512303>${{ monthPrice }}</td>
 </tr>
{%- endif -%}

{%- if yearPrice -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🪙 Price Yearly</td>
  <td class=xl1512303>${{ yearPrice }}</td>
 </tr>
{%- endif -%}

{%- if anyDiscounts == true -%}
 <tr height=19 style='height:14.5pt'>
  <td height=19 class=xl1512303 style='height:14.5pt'>🪙 Any Discounts?</td>
  <td class=xl1512303>
    {{discountDescription}}
    {%- for discs in discountURL -%}
      <br />
      <a href="{{discs}}">URL to Discounts</a>
    {%- endfor -%}
  </td>
 </tr>
{%- endif -%}

</table>
